/* common */

.blue_txt{
  color: #3a68b2;
}


/* 헤더 */
header{
  width: 100%;
  height: 99px;
  position: fixed;
  z-index: 99999;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
header.scroll-header{
  background-color: #fff;
  height: 79px;
  border: 0;
  box-shadow: 10px 0 15px 0 rgb(0 0 0 / 10%);
  transition: height .5s;
}
header>h1{
  width: 125px;
  height: 30px;
}
header>h1 img{
  display: block;
  width: 100%;
}
nav{
  width: 100%;
  max-width: 900px;
  height: 100%;
  box-sizing: border-box;
}
nav>ul{
  display: flex;
  height: 100%;
}
nav>ul>li{
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}
nav>ul>li>a{
  color: #fff;
  font-weight: bold;
  font-size: 17px;
  text-decoration: none;
  /* position: relative; */
}
#horizontal-underline{
  position: absolute;
  top: 0; left: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.3s;
}
.btn_nav{
  display: none;
  width: 40px;
}
.btn_nav span{
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  margin: 10px 0;
}


/* 메인 */
main{
  width: 100%;
  
}
/* 섹션1 */
.silde_wrap{
  width: 100%;
  height: 100vh;
  max-height: 970px;
}
.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide>img {
  display: block;
  width: 100%;
  height: 100vh;
  max-height: 970px;
  background-repeat: no-repeat;
  object-fit: cover;

}
.silde{
  width: 100%;
  height: 100%;
  max-width: 1480px;
  margin: 0 auto;
  padding: 20px;
  top:0; left:0;
  box-sizing: border-box;
  position: absolute;
}
.arrow{
  position: absolute;
  left: 0;
  top:35%;
  display: flex;
}
.arrow>div{
  width: 60px;
  height: 60px;
  background-color:  rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  color: #fff;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.silde_text{
  width: 100%;
  max-width: 1440px;
  /* background-color: yellowgreen; */
  position: absolute;
  top:50%;
  transform: translateY(-50%);
}
.silde_text>h2{
  font-size: 74px;
  color: #fff;
  font-weight: bold;
  margin: 20px 0 12px;
}
.silde_text>p{
  opacity: 0.9;
  font-size: 22px;
  margin-top: 10px;
  font-weight: 500px;
  color: #fff;
}
.silde_text>.btn_more{
  width: 220px;
  height: 65px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  color: #fff;
  font-style: 17px;
  padding: 0 45px 0 50px;
  display: flex;
  align-items: center;
  margin-top: 50px;
}

/* 섹션2 */
section>h2{
  font-size: 38px;
  color: #222;
  font-weight: bold;
}
#service{
  width: 100%;
  max-width: 1440px;
  margin: 180px auto 210px;
  /* border: 1px solid; */
  box-sizing: border-box;
}
#service>h2{
  text-align: center;
}
#service>article{
  display: flex;
  justify-content: space-between;
}
#service>article>div{
  width: 50%;
}
.serv_big{
  padding: 10px;
  position: relative;
  cursor: pointer;
}
.sev_img{
  background-image: url(../img/main_service_img1.jpg);
  width: 100%;
  padding-top: 97.1428%;
  background-size: cover;
}
.serv_sm>div{
  font-size: 0;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
}
.serv_sm>div>img{
  position: relative;
}
.serv_txt{
  position: absolute;
  left: 60px;
  bottom: 60px;
}
.serv_txt>h3{
  font-size: 26px;
  color: #fff;
  font-weight: bold;
}
.serv_txt>p{
  font-size: 17px;
  color: #fff;
  font-weight: 300;
  opacity: 0.8;
}
.serv_txt>div{
  width: 100%;
  max-width: 140px;
  height: 40px;
  padding: 0 15px 0 20px;
  margin-top: 20px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  border: 1px solid  rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* 섹션3 */
#about{
  width: 100%;
  max-width: 1440px;
  margin: 0 auto 240px;
  display: flex;
  justify-content: space-between;
}
#about>h2{
  width: 50%;
}
#about h3{
font-size: 24px;
font-weight: 600;
margin-bottom: 40px;
}
#about p{
  margin: 20px 0;
}
.abut_btn{
  width: 140px;
  height: 50px;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 2px solid #222;
  color: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
}

/* 섹션4 */
#banners{
  display: flex;
  height: 400px;
}
#banners>article{
  flex: 1;
  height: 100%;
  border-right: 1px solid #dadfe6;
  padding: 85px 60px;
  box-sizing: border-box;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-color: #eee;
  background-size: 70% auto;
  cursor: pointer;
}
.members{
  background-image: url(../img/main_banner_figure1.png);
}
.talk{
  background-image: url(../img/main_banner_figure2.png);
}
.insu{
  background-image: url(../img/main_banner_figure3.png);
}
.members h3{
  font-size: 24px;
  font-weight: 700;
  color: #222;
  margin-bottom: 14px;
  transition: all .5s;
}
.members p{
  color: #222;
  margin-bottom: 40px;
  opacity: 0.8;
  transition: all .5s;
}
.members h3.color{
  color: #fff;
}
.members p.color{
  color: #fff;
}
.talk h3{
  font-size: 24px;
  font-weight: 700;
  color: #222;
  margin-bottom: 14px;
  transition: all .5s;
}
.talk p{
  color: #222;
  margin-bottom: 40px;
  opacity: 0.8;
  transition: all .5s;
}
.talk h3.color{
  color: #fff;
}
.talk p.color{
  color: #fff;
}
.insu h3{
  font-size: 24px;
  font-weight: 700;
  color: #222;
  margin-bottom: 14px;
  transition: all .5s;
}
.insu p{
  color: #222;
  margin-bottom: 40px;
  opacity: 0.8;
  transition: all .5s;
}
.insu h3.color{
  color: #fff;
}
.insu p.color{
  color: #fff;
}

.bnr_btn{
  width: 90px;
  height: 50px;
  font-size: 15px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #222;
  transition: all .5s;
}

.bnr_btn.color{
  color: #fff;
  border-bottom: 2px solid #fff;
}

/* 푸터 */
footer{
  width: 100%;
  padding: 60px 20px;
  box-sizing: border-box;
  background-color: #222;
  font-size: 15px;
  color: #666;
}
footer ul{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
footer ul>li{
  padding-left: 20px;
  box-sizing: border-box ;
  text-align: center;
}
footer ul>li::after{
  content: '';
  display: inline-block;
  width: 1px;
  height: 12px;
  background-color: #444;
  margin-left: 20px;
}
footer ul>li:last-child:after{
  display: none;
}
.f_cs{
  text-align: center;
  margin-top: 10px;
}
footer p{
  text-align: center;
  font-size: 14px;
  margin-top: 50px;
}



@media (max-width:1280px) {
  .silde_text>h2{
    font-size: 50px;
  }
  .silde_text>p{
    font-size: 20px;
  }
  .silde_text>.btn_more{
    width: 180px;
    height: 55px;
    padding: 0 20px;
    margin-top: 30px;
    font-size: 16px;
  }
  .arrow>div{
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  #banners>article{
    padding: 30px;
    box-sizing: border-box;
  }
}
@media (max-width:1024px) {
  header>h1{
    width: 120px;
  }
  nav{
    display: none;
  }
  .btn_nav{
    display: block;
  }
  .silde{
    max-height: 800px;
  }
  .silde_text>h2{
    font-size: 42px;
  }
  .silde_text>p{
    font-size: 17px;
  }
  .insu{
    display: none;
  }
  #about{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .abut_btn{
    margin: 0 auto;
  }
  #service>article{
    flex-direction: column;
  }
  #service>article>div{
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
  }
  .serv_sm>div{
    padding: 10px 0;
    box-sizing: border-box;
  }

  .serv_sm>div>img{
    width: 100%;
  }
}
@media (max-width:640px) {
  .silde_text>h2{
    font-size: 36px;
  }
  footer ul{
    flex-direction: column;
  }
  footer ul>li::after{
    display: none;
  }
  #banners>article:nth-child(2){
    display: none;
  }
}
